.main-rest {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    grid-template-rows: repeat(2,350px);
    text-align: center;
    margin-inline: 30px;
}

.rest-item {
    margin-inline: 30px;
    padding: 40px;
    line-height: 1.7;
    margin-bottom: 50px;
}

.rest-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-rest {
    margin: 50px;
    font-size: 28px;
    font-weight: bold;
}

.big-text {
font-size: 22px;
}

.border-bottom-block-rest {
    width: 10%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    margin: 30px;
    margin-left: 60px;
  }

  @media (min-width: 320px) and (max-width: 1200px) {
    .info-rest {
        text-align: center;
    }
    .main-rest {
        display: block;
    }
    .rest-item {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
  }